<%= form_with(model: [@property, @reservation], local: true) do |form| %>
  <%= errors_for @reservation %>
  <% if current_user.role.name == 'guest' %>
    <div class="form-group">
      <%= form.label :reservation_date %>
      <%= form.date_field :reservation_date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :number_of_nights %>
      <%= form.number_field :number_of_nights, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :number_of_guest %>
      <%= form.number_field :number_of_guest, class: "form-control", size:"2" %>
    </div>
    <div class="form-group">
      <%= form.label :price_per_night %>
      <p> <%= reservation.total_price %></p>
    </div>
  <% elsif current_user.role.name == 'host' %>
    <div class="form-group">
    <%= form.select :approved, {'Yes': true, 'No': false}, {}, { :class => 'form-control' } %>

    </div>
  <% end %>
  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
